<div id="content_body">
    <div id="left_content">
      <p class="headers1"> Solutions </p>
      <p> <%= image_tag("solutions_img.png",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;float:left;") %> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci, eu vestibulum nisi orci quis nunc.Curabitur auctor leo vehicula justo consectetur ac euismod justo rhoncus. In sed enim magna. Etiam facilisis luctus ullamcorper. Quisque lacinia, elit vel iaculis pharetra, turpis lectus scelerisque nisi. </p>
      <br />
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <p class="small_headers"> Websites </p>
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <br />
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <p class="small_headers"> COMPLETE E-COMMERCE SOLUTIONS </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar nisi eu enim facilisis dapibus. Duis viverra turpis vitae dui tincidunt eleifend. Etiam sodales, neque in dignissim dictum, dui libero dictum orci, vel cursus felis velit vitae dui. Etiam malesuada viverra est pretium lobortis. Vivamus fermentum, neque a elementum interdum, erat nisl mattis odio, eu lobortis libero tortor sed ante. Vestibulum felis metus, accumsan at rhoncus id, ultrices et lacus. </p>
      <br />
      <p><%= image_tag("solutions-ecom_img.jpg",  :alt=>"") %></p>
      <p class="small_headers"> SEARCH ENGINE OPTIMIZATION </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar nisi eu enim facilisis dapibus. Duis viverra turpis vitae dui tincidunt eleifend. Etiam sodales, neque in dignissim dictum, dui libero dictum orci, vel cursus felis velit vitae dui. Etiam malesuada viverra est pretium lobortis. Vivamus fermentum, neque a elementum interdum, erat nisl mattis odio, eu lobortis libero tortor sed ante. Vestibulum felis metus, accumsan at rhoncus id, ultrices et lacus. </p>
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <br />
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <p class="small_headers"> SEARCH ENGINE MARKETING </p>
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <br />
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <p class="small_headers"> NEWSLETTER MARKETING </p>
      <p> Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas, tellus ipsum rhoncus orci. </p>
      <p class="small_headers"> SOCIAL MEDIA MARKETING </p>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar nisi eu enim facilisis dapibus. Duis viverra turpis vitae dui tincidunt eleifend.</p>
    </div>
    <div id="right_content">
      <p class="sub_headers"> More Solutions </p>
      <ul class="right_links">
        <li><a href="#">Websites</a></li>
        <li><a href="#">E-Commerce Solutions</a></li>
        <li><a href="#">Company Intranet</a></li>
        <li><a href="#">Article Marketing</a></li>
        <li><a href="#">Press Releases</a></li>
        <li><a href="#">Search Engine Optimization</a></li>
        <li><a href="#">Social Media Marketing</a></li>
      </ul>
      <br />
      <p class="sub_headers"> Testimonials </p>
      <p> <%= image_tag("default_avatar.gif",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;float:left;") %> <b>AuthorName</b> </p>
      <p> Talk to us if you are looking for business savvy online solutions rather than possibilities of technology. </p>
      <br />
      <p class="read_more_btn"> <%= link_to(image_tag("read_more_btn.png", :alt=>""), "")%> </p>
      <br />
      <p> <%= image_tag("default_avatar.gif",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;float:left;") %> <b>AuthorName</b> </p>
      <p> Talk to us if you are looking for business savvy online solutions rather than possibilities of technology. </p>
      <br />
      <p class="read_more_btn"> <%= link_to(image_tag("read_more_btn.png", :alt=>""), "")%> </p>
      <br />
      <p> <%= image_tag("default_avatar.gif",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;float:left;") %> <b>AuthorName</b> </p>
      <p> Talk to us if you are looking for business savvy online solutions rather than possibilities of technology. </p>
      <br />
      <p class="read_more_btn"> <%= link_to(image_tag("read_more_btn.png", :alt=>""), "")%></p>
      <br />
      <p> <%= image_tag("default_avatar.gif",  :alt=>"",  :style=>"margin:0px 7px 7px 0px;float:left;") %> <b>AuthorName</b> </p>
      <p> Talk to us if you are looking for business savvy online solutions rather than possibilities of technology. </p>
      <br />
      <p class="read_more_btn"> <%= link_to(image_tag("read_more_btn.png", :alt=>""), "")%></p>
    </div>
    <div class="clear"></div>
  </div>
