<div id="footer">
    <p class="left"><%= link_to("HOME", root_path)%> <span>|</span>
                    <%= link_to("ABOUT US", aboutus_path)%> <span>|</span>
                    <%= link_to("SOLUTIONS", solutions_path)%> <span>|</span>
                    <%= link_to("CONTACT US", contactus_path)%></p>
    <p class="right">Copyright &copy; 2011. All rights reserved by <%= link_to("GreyCell", root_path)%></p>
</div>

